/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.head-top,
.head-bt,
.main-top {
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 10px auto;
}

.grey {
  color: grey;
}

.dark-img {
  filter: brightness(70%);
}
/* header */

nav li {
  list-style: none;
  float: left;
  margin: 15px;
}

nav {
  height: 50px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
#logo {
  height: 50px;
  padding-right: 15px;
  border-right: 1px solid lightgrey;
}

.head-bt {
  width: 100%;
  height: 400px;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head-bt div {
  position: relative;
  padding-left: 30px;
  top: 200px;
}
#titolo-head {
  font-weight: 400;
  font-size: 40px;
  width: 850px;
}

#text-head {
  width: 850px;
}
/* main  */
main {
  margin-bottom: 20px;
}

.left {
  float: left;
}

.main-left {
  width: 18%;
}

.main-mid {
  margin: 0 2% 20px;
  width: 60%;
}

.mg-bt {
  margin-bottom: 10px;
}

.immagini {
  width: 100%;
  height: 250px;
}
/* footer  */

.foot {
  height: 100px;
  text-align: center;
}

#cuore {
  color: red;
}

/* debug */

.debug .head-top {
  background-color: violet;
}

.debug .head-bt {
  background-color: yellow;
}

.debug .main-top {
  background-color: lightblue;
  height: 80px;
}

.debug .main-left {
  background-color: lightblue;
  height: 350px;
}

.debug .main-mid {
  background-color: lightblue;
  height: 350px;
}

.debug .foot {
  background-color: purple;
}

.debug nav {
  background-color: grey;
}
